# Ignore Composer vendor dependencies
/vendor/

# Ignore MaxMind database
/GeoLite2-Country.mmdb

# OS and editor files
.DS_Store
Thumbs.db
*.zip
*.log
*.tmp

# IDE folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Dependencies
node_modules/
